.conteudo {
  display: flex;
}

body {
  background: linear-gradient(342deg, rgba(89,193,115,1) 0%, rgba(161,127,224,1) 50%, rgba(93,38,193,1) 100%);
}

:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}
